@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  color: black;
}

.nuxt-link-active,
.router-link-active,
.router-link-exact-active {
  color: rgb(21, 128, 61);
  text-decoration: none;
  font-weight: bold;
}
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}
.loading {
  display: flex;
  justify-content: center;
}
